body {
  font-family: "Patrick Hand", cursive;
  width: 100%;
  background-color: #c2bfbf;
}

input,
button {
  font-family: inherit;
  cursor: pointer;
}

input,
button,
h1,
h2,
p,
span,
li,
.expensesInput {
  font-size: 32px;
  line-height: 39px;
}

.container {
  width: 1000px;
  margin: 100px auto;
  padding: 100px 50px;
  border: 1px #000 solid;
}

.inputWrapper {
  display: flex;
  column-gap: 30px;
  padding-top: 40px;
  padding-bottom: 65px;
}

.inputFieldExpenses {
  position: relative;
}

.expensesInput {
  width: 400px;
  padding: 8px;
}

.inputExpensesText {
  position: absolute;
  top: 10px;
  right: 32px;
}

.inputFieldCategory {
  padding-top: 20px;
}

.addExpensesBtn,
.resetExpensesBtn {
  height: 60px;
  border: none;
  color: #fff;
}

.addExpensesBtn {
  width: 300px;
  background-color: #0094ff;
}

.resetBtnWrapper {
  display: flex;
  justify-content: center;
}

.resetExpensesBtn {
  width: 400px;
  background-color: #ff0000;
}

.outputWrapper {
  display: flex;
  column-gap: 30px;
}

.limTotStatWrapper {
  width: 420px;
}

.statusText {
  padding-top: 35px;
  padding-bottom: 50px;
}

.status {
  color: green;
}

.status_orange {
  color: orange;
}

.status_red {
  color: red;
}
